html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    #particles-js {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #0d0d0d;
      z-index: -1;
    }

    .content {
      position: relative;
      color: white;
      text-align: center;
      top: 40%;
      font-size: 2rem;
    }
